<h1>Hello Human!</h1>
<p>Welcome to Pinky and the Brain's awesome Age Ranger website.</p>
<p>Today, just like every day, we're going to try to take over the world.</p>
<p>To help us in our quest, here are some things you can do:</p>
<ul>
    <li><strong>Collect Data.</strong> Use the Person Database on this website to capture all humans' ages.  </li>
    <li><strong>Develop an app.</strong> Use our <a href="/swagger" target="_blank">awesome API</a> to develop an app help populate our database.</li>
    <li><strong>Contribute.</strong> There are some shortcomings on our code. Pick an issue from our readme file and help improve this code.</li>

</ul>
